<div class="navbar bg-primary">
  <a class="navbar-brand">运动品商店</a>
  <cart-summary></cart-summary>
</div>

<div class="row">
  <div class="col-2">
    <div class="row d-flex flex-column align-items-center">
      <button class="col-6 btn-lg btn-outline-primary d-block m-2"
              [class.active]="null == selectedCategory"
              (click)="changeCategory()">首页</button>
      <button *ngFor="let cat of categories"
              class="col-6 btn-lg btn-outline-primary d-block m-2"
              [class.active]="cat == selectedCategory"
              (click)="changeCategory(cat)">{{ cat }}</button>
      <button class="col-6 btn btn-lg btn-outline-primary d-lock m-2"
              routerLink="/admin">管理员</button>
    </div>
  </div>

  <div class="col-10">
    <div *ngFor="let product of products" class="card text-white bg-info mb-2 mt-2">
      <h4 class="card-header d-flex justify-content-between">
          {{ product.name }}
          <span class="align-self-end">
              {{ product.price | currency:"￥" }}
          </span>
      </h4>
      <div class="card-body">
        <div class="card-text p-1 d-flex justify-content-between">
          {{ product.description }}
          <button class="btn-sm btn-success" (click)="addProductToCart(product)">
                加入购物车
            </button>
        </div>
      </div>
    </div>
    <div class="form-inline d-flex justify-content-between">
      <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
            <option value="3">每页3个</option>
            <option value="4">每页4个</option>
            <option value="6">每页6个</option>
            <option value="8">每页8个</option>
      </select>
      <div class="btn-group">
        <button *counter="let page of pageCount"
            (click)="changePage(page)"
            [class.active]="page==selectedPage"
            class="btn btn-outline bg-primary">{{ page }}</button>
      </div>
    </div>
  </div>
</div>
