<div class="navbar bg-primary">
  <a class="navbar-brand">运动品商店</a>
</div>

<div class="mt-1">
  <div class="row">
    <div class="col-2">
      <div class="row d-flex flex-column align-items-center">
        <button class="col-6 btn-lg btn btn-outline-info d-block m-2"
                routerLink="/admin/main/products"
                routerLinkActive="active">
            产品
      </button>
        <button class="col-6 btn-lg btn btn-outline-info d-block m-2"
                routerLink="/admin/main/orders"
                routerLinkActive="active">
            订单
      </button>
        <button class="col-6 btn-lg btn btn-outline-danger d-block m-2" (click)="logout()">
            注销
      </button>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
